@import "~codemirror/lib/codemirror.css"
@import "~styles/runkit-light.css"
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700%7CUbuntu+Mono:400')

.theme-default-content.content__default
  padding-right 3.5rem
  overflow hidden

.CodeMirror
  height auto

.code-block
  position relative
  margin 0 -10px
  padding 0 10px
  border 1px solid#e8e5e8
  border-radius 4px
  + .code-block 
    margin-top 20px
  iframe
    margin-bottom 6px !important
  > button
    margin: 8px 0
    padding: 4px
    border-radius: 4px
    border: 2px solid green
    background: lightgreen
    cursor: pointer
    &:focus
      outline: none // no a11y, because codemirror editor will block tabindex
    &:hover
      background darken(lightgreen,20%)
    + button
      margin-left: 8px
  &[data-current=runkit]
    >.code-container>.CodeMirror
    >.btn-runkit
    >.btn-worker
      display: none
      